/****************************Styling Navigation Bar****************************/
nav{
    background-color: #ffffff;
    padding:2px;   
}
a{
    text-decoration: none;
    color: #394DF7 !important;
    font-size:1.2rem;
    cursor: pointer;
}
a:hover{
    color:#000000 !important;
    text-decoration: none;
}
.logo{
    height:60px;
    width:auto;
}