/************************** Bottom Post ********************************/
.bottom-post{
    grid-area:bottom-post;
}
/************************** Styling Post ******************************/
.post{
    padding:20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "postHeader postContent postImage";
    border-top: 2px solid #cccccc;
    grid-gap:64px;
    transition: all 0.1s;
    cursor: pointer;
    align-items: center;
    justify-items: center;
}
.post:hover{
    transform: scale(1.05);
}
.postHeader{
    grid-area:postHeader;
}
.postContent{
   grid-area: postContent;
   display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.postImage{
    grid-area:postImage;
}
.postImage>.link>img{
    width:100%;
    height:auto;
}
.date{
    font-style: italic;
    font-family: "Times New Roman", Georgia, serif;
    color:#888888;
    margin-top: -15px;
}
@media only screen and (max-width:1000px){
    .post{
       display:grid;
       grid-template-columns: 1fr 1fr;
       grid-template-areas: 
       "postHeader postImage";
       align-items: center;
       justify-items: center;
    }
    .postContent{
        display: none;
    }
    .postImage>.link>img{
        width:100%;
        height: auto;
    }
    .postHeader>.link> h1{
        font-size: 1rem;
    }
}
/************************** Styling Load More Button ******************************/
#loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }
  a{
      color:#fff !important;
  }
  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }