/************************** Bottom Post ********************************/
.bottom-post{
    grid-area:bottom-post;
}
/************************** Styling Post ******************************/
.post{
    padding:20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "postHeader postContent postImage";
    border-top: 2px solid #cccccc;
    grid-gap:64px;
    transition: all 0.1s;
    cursor: pointer;
    align-items: center;
    justify-items: center;
}
.post:hover{
    transform: scale(1.05);
}
.postHeader{
    grid-area:postHeader;
}
.postContent{
   grid-area: postContent;
   display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.postImage{
    grid-area:postImage;
}
.postImage>.link>img{
    width:100%;
    height:auto;
}
.date{
    font-style: italic;
    font-family: "Times New Roman", Georgia, serif;
    color:#888888;
    margin-top: -15px;
}
@media only screen and (max-width:1000px){
    .post{
       display:grid;
       grid-template-columns: 1fr 1fr;
       grid-template-areas: 
       "postHeader postImage";
       align-items: center;
       justify-items: center;
    }
    .postContent{
        display: none;
    }
    .postImage>.link>img{
        width:100%;
        height: auto;
    }
    .postHeader>.link> h1{
        font-size: 1rem;
    }
}
/************************** Styling Load More Button ******************************/
.loadMore {
    color:#fff !important;
    text-align: center;
    background-color: #292b2c;
    width:200px;
    padding:20px;
    margin:0 auto;
    margin-bottom:20px;
}
a{
    color:white !important
}
@media only screen and (max-width:1000px){
    .loadMore {
        width: 120px;
    }
    .loadMore a{
        font-size: 1rem;
    }
}
