.register{
    max-width:400px;
    border:2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
    padding:20px;
    display:grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
}
.register>p{
    font-size:2rem;
}
.register>input{
    padding:10px;
    margin:10px;
    border-radius: 5px;
    border-color: #cccccc;
}
.register>input:focus{
    border-color: #5a95f5;
    outline:none;
}
.register>input[type=button]{
    background-color: #0275d8;
    color:#ffffff;
    font-size: 1.2rem;
    border:none;
    cursor: pointer;
}
.register>input[type=button]:hover{
    background-color:#5a95f5;
}
