/************************** Side Post ********************************/
.side-post{
    grid-area:side-post;
}
.box{
    padding:10px 0;
    border-bottom: 2px solid #cccccc;
}
.box > h2{
    padding-top:10px;
    font-weight: bold;
}

@media only screen and (max-width:1000px){
    .box>.link> h2{
        font-size: 1.7rem;
    }
}