/****************************Styling Container for the Main Page****************************/
.container{
    max-width: 1500px;
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "main-post main-post side-post"
    "main-post main-post side-post"
    "header header header"
    "bottom-post bottom-post bottom-post";
}   
@media only screen and (max-width:1000px){
    .container{  
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:20px;
        grid-template-areas:
        "main-post"
        "side-post"
        "header"
        "bottom-post";
    }
}