body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2{
  font-weight: bold;
}
h1, h2, p,.mainPostImage{
  cursor: pointer;
}
h1:hover, h2:hover{
  color:#888888;
}
.header{
  grid-area:header;
}
.link {
  color:#000000 !important;
}
.link:hover {
   color: #00F
}